@model IEnumerable<DndDungeons.UI.Models.DTO.DndRegionDTO>

@{
}

<h1 class="mt-3">Dungeons and Dragons Regions</h1>

<div class="d-flex justify-content-end">
    <a class="btn btn-secondary" asp-controller="DndRegions" asp-action="Add">Add DnD Region</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Name</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var singleRegion in Model)
        {
            <tr>
                <td>@singleRegion.Id</td>
                <td>@singleRegion.Code</td>
                <td>@singleRegion.Name</td>
                <td>
                    <a asp-controller="DndRegions" asp-action="Edit" asp-route-id="@singleRegion.Id" class="btn btn-light">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*if (ViewBag.Response is not null)
{
    <p>@ViewBag.Response</p>
}*@